@import "@catppuccin/palette/css/catppuccin";

html {
    background-color: var(--ctp-mocha-base);
}

.title {
    color: var(--ctp-mocha-text);
}

.subtitle {
    color: var(--ctp-mocha-subtext1);
}

#textfield {
    color: var(--ctp-mocha-text);
}

#textfield-label {
    color: var(--ctp-mocha-text);
}

.MuiOutlinedInput-notchedOutline {
    /* bad practice but whatever, I've spent way too long on this */
    border-color: var(--ctp-mocha-text) !important;
}