name: Build/release

on: push

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up JDK 24 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
          architecture: x64

      - name: Build App (Maven)
        run: |
          sudo chmod +x build.sh
          ./build.sh

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: augmentation.jar
